*.log*
*.idea*
*.pyc*
*.class*
*.metadata*
*assets*
*output*
*.iml*
*nohup.out*
*uwsgi.pid*
*.pytest_cache*
/src/maintest/logs
/src/report
/venv
/assets
/allure
/redis_conf.py
__setting__.py
*report*
auto_core_v1
*allure*
*xml-results*
*pycache*
.vscode/*